html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.container{
    width: 1366px;
    position: relative;
    margin: 0 auto;
}

.header{
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-stikom{
    width: 200px;
}

.navigasi{
    height: 100px;
    /* background-color: white; */
    background: linear-gradient(to right, #136a8a, #267871);
}

.menu-1{
    float: right;
}

.education{
    width: 70px;
    position: relative;
    top: 12px;
    right: 700px;
    float: left;
}

.list-menu{
    display: inline-block;
}

.list-menu a{
    position: relative;
    top: 33px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-right: 60px;
    font-weight: bold;
    transition: 1s;
}

.list-menu a:hover{
    color: white;
    text-decoration: underline;
    transition: 1s;
}

.menu{
    display: inline-block;
}

.tittle-d{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 50px;
    position: relative;
    top: 200px;
    left: 115px;
    letter-spacing: 10px;
    border: 5px solid black;
    box-shadow: 2px 2px 4px black;
    background-color: white;
}

.daftar{
    position: relative;
    left: 560px;
    top: 230px;
}

.daftar-i{
    font-size: 20px;
    padding: 20px 50px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right, #136a8a, #267871);
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.daftar-i:hover{
    transform: scale(1.1);
    transition: .5s;
}

.banner-1{
    height: 1200px;
    background: linear-gradient(to right, #136a8a, #267871);
}

.menu-product-top{
    padding-top: 20px;
}

.tittle-f{
    text-align: center;
    padding-top: 70px;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.list-product-1{
    display: inline-block;
    width: 250px;
    height: 350px;
    background-color: white;
    border: 1px solid #EDEDED;
    position: relative;
    margin-top: 40px;
    left: 140px;
    margin-right: 30px;
    transition: .5s;
    box-shadow: 2px 2px 2px;
}

.list-product-1:hover{
    transform: scale(1.1);
    transition: .5s;
    box-shadow: 6px 12px 4px rgba(0,0,0,0.3);
}

.img{
    width: 200px;
    height: 200px;
    padding-top: 30px;
    padding-left: 26px;
}

.tittle-s{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}


.social-care{
    width: 70px;
    position: relative;
    top: 60px;
    left: 50px;
}

.side-img{
    width: 500px;
    height: 500px;
    position: relative;
    top: 95px;
    left: 60px;
    border-radius: 20px;
}

.content-i{
    font-family: 'Poppins', sans-serif;
    width: 500px;
    height: 600px;
    float: right;
    position: relative;
    top: 100px;
    right: 200px;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: white;
    line-height: 40px;
    text-transform: uppercase;
}

.content-i h2{
    width: 570px;
    font-weight: bold;
    font-size: 40px;
    margin-top: 90px;
    border: 5px solid black;
    background-color: white;
    color: black;
}


.footer{
    height: 250px;
    background: #666;
    clear: both;
    color: white;
}

.box-1{
    width: 250px;
    height: 200px;
    position: relative;
    top: 50px;
    left: 150px;
}

.social-1{
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 41px;
    font-family: 'Poppins', sans-serif;
}

.social-2{
    font-size: 16px;
    position: relative;
    top: 60px;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}

.box-2{
    width: 250px;
    height: 200px;
    position: relative;
    top: -150px;
    left: 600px;
}

.box-3{
    width: 250px;
    height: 200px;
    position: relative;
    top: -357px;
    left: 970px;
}

.input {
    padding: 5px 20px;
    border: 1px solid #136a8a;
    margin: 10px 0;
}

.border-radius-50 {
    border-radius: 50px;
}

.w-80 {
    width: 80%;
}

.btn-daftar {
    padding: 10px 40px;
    border: 0;
    color: #fff;
    background-color: #136a8a;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}
